<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- Chemin du dossier dans lequel enregistrer la trace -->
    <add key="TracePath" value="C:\Temp\(Traces)\" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- BreakOnAssert : Pause sur erreur
               ShowStack : Affiche la pile d'appel
               ShowSQL : Affiche les requetes SQL
               ShowMail : Affiche les mails envoyés
          -->
      <add name="BreakOnAssert" value="1" />
      <add name="ShowStack" value="1" />
      <add name="ShowSQL" value="1" />
      <add name="ShowMail" value="1" />
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!-- initializeData doit contenir le nom du fichier log
                   L'utilisateur ASPNET doit avoir les droits suffisant
                   Il est possible d'utiliser ~ pour mettre le log dans un sous dossier du répertoire de l'application
		-->
        <add name="MainTraceListener" type="Corail.Core.TraceListener, Corail.Core" initializeData="VITAL.txt#2,5M" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings />
  <system.web>
    <!-- 
					Fournit des informations sur les messages d'erreurs personnalisés pour une application ASP.NET.
					On : Une page générique est affichée en cas d'erreur non gérée.
					Off : Les erreurs non gérées sont affichées dans le navigateur du client. (page de page personnalisée)
					RemoteOnly : Les erreurs non gérées sont visibles uniquement en localhost : une page générique est affichée.
		-->
    <customErrors mode="RemoteOnly" />
    <!--
					executionTimeout : Durée maximale, en secondes, d'exécution d'une demande avant qu'elle soit automatiquement arrêtée par ASP.NET.
					maxRequestLength : Taille maximale en Ko d'une requête HTTP (Peut empêcher l'upload de fichiers volumineux).
		-->
    <httpRuntime requestValidationMode="2.0" executionTimeout="110" maxRequestLength="4096" />
    <!-- 
					Définissez compilation debug="true" pour insérer des symboles 
					de débogage dans la page compilée. Comme ceci 
					affecte les performances, définissez cette valeur à true uniquement 
					lors du développement.

					Options Visual Basic :
					Définissez strict="true" pour interdire les conversions de types de données 
					susceptibles d'entraîner des pertes de données. 
					Définissez explicit="true" pour forcer la déclaration de toutes les variables.
		-->
    <compilation debug="true" strict="true" explicit="true">
      <assemblies />
    </compilation>
    <pages validateRequest="false">
      <namespaces />
      <controls>
        <add tagPrefix="cw" namespace="Corail.Web" assembly="Corail.Web" />
      </controls>
    </pages>
    <!--
					La section <authentication> permet la configuration 
					du mode d'authentification de sécurité utilisé par 
					ASP.NET pour identifier un utilisateur entrant. 
		-->
    <authentication mode="Forms">
      <forms name=".VITALUSER" loginUrl="~/wr/aspcnx.axd" protection="All" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState timeout="20" />
  </system.web>
  <!--
				Gestionnaire Corail pour les ressources incorporéés (js,css,images...)
	-->
  <location path="wr">
    <system.web>
      <!-- L'utilisateur ne doit pas s'authentifier pour accéder aux ressources -->
      <authorization>
        <allow users="*" />
      </authorization>
      <!-- Configuration pour IIS 6- et serveur de développement -->
      <httpHandlers>
        <add verb="*" path="*" validate="false" type="Corail.Web.ResourceHttpHandler, Corail.Web" />
      </httpHandlers>
    </system.web>
    <!-- Configuration pour IIS 7+ -->
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add name="Corail.Web.ResourceHttpHandler" path="*" verb="*" type="Corail.Web.ResourceHttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>